### BUILDOUT CONFIG FILE ###

[buildout]
# DIRECTORIES
bin-directory = bin
parts-directory = bin/parts
develop-eggs-directory = bin/dev-eggs


# PARTS
parts =
    python
    tests
    coverage
    sphinx

# EGGS used in all parts
eggs =
    django

# check the output for picked versions
show-picked-versions = true

# specify a version for ANY egg used :
#  - to ensure repeatability
#  - to make the buildout script run faster
#    (does not need to check for newer versions)
# check the output for picked versions

# PARTS DEFINITIONS

# the python interpreter for the buildout environment
[python]
recipe = zc.recipe.egg:script
eggs = ${buildout:eggs}
scripts = python
interpreter = python
extra-paths = ${buildout:directory}

# the tests runner
[tests]
recipe = djangorecipebook:test
eggs =
    ${buildout:eggs}
    mock
nose = 1
workingdir = tests
settings = settings
extra-paths = ${buildout:directory}

# coverage
[coverage]
<= tests
eggs =
    ${tests:eggs}
    coverage
args = --with-coverage

[sphinx]
recipe = zc.recipe.egg:script
eggs =
    sphinx
    ${tests:eggs}
scripts = sphinx-build
extra-paths = ${buildout:directory}

[versions]
python = 2.7
zc.buildout = 2.5.0

# RECIPES
zc.recipe.egg = 2.0.3
djangorecipebook = 1.2.7

# DEPENDENCIES

django = 1.9.1

# tests
django-nose = 1.4.2
nose = 1.3.7
coverage = 4.0.3
mock = 1.3.0
# mock==1.3.0 requires
funcsigs = 0.4

# sphinx
sphinx = 1.3.3
alabaster = 0.7.6
babel = 2.1.1
colorama = 0.3.3
docutils = 0.12
jinja2 = 2.8
markupsafe = 0.23
pygments = 2.0.2
pytz = 2015.7
six = 1.10.0
snowballstemmer = 1.2.0
sphinx-rtd-theme = 0.1.9
pbr = 1.8.1
